[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"
openai = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.16"
